body {
  background: repeating-radial-gradient(circle at 0% 50%, white 0px, white 5px, #efefef 10px, #efefef 10px)!important;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}
img {
  height: 245px;
  object-fit: cover;
}
button {
  padding: 10px;
  display: block;
}
.new-cats-button {
  margin: 20px;
}
.row {
  display: flex;
}

.active {
  background-color: red;
}

element.style {
}

.ui.container {
  display: flex!important;
}

.ui.cards {
  justify-content: center;
  padding-top: 20px;
}

.ui.card>.content, .ui.cards>.card>.content {
  align-self: center;
}

.ui.card, .ui.cards > .card  {
  width: 210px;
}
