.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
button {
  padding: 10px;
  display: block;
}
img {
  height: 200px;
  width: 200px;
  margin: 10px;
}
