.App {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0;
}
.home-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
img {
  height: 245px;
  object-fit: cover;
}
button {
  display: block;
  padding: 10px;
}
.new-cats-button {
  margin: 20px;
}
.row {
  display: flex;
}
.active {
  background-color: red;
}
.ui.container {
  display: flex!important;
}
.ui.cards {
  justify-content: center;
  padding-top: 20px;
}
.ui.card>.content, .ui.cards>.card>.content {
  align-self: center;
}
.ui.card, .ui.cards > .card  {
  width: 210px;
}
a.ui.label>.icon {
  margin: 0;
}
